*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

/* #bmi_calc{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
} */

/* #bmi_calc{
    width: auto;
    background-color: lightcoral;
} */

h1{
    text-decoration: underline;
    margin-bottom: 30px;
}

h3{
    margin-top: 20px;
}

.weight , .height{
    display: block;
    font-size: large;
}

.height{
    margin-top: 20px;
}

button{
    display: block;
    margin-top: 15px;
    background-color: rgb(98, 98, 255);
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

body{
    background-color: #1a1b26;
    color: #c0caf5;
}

input{
    padding:5px;
    width: 200px;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bmi_calc{
    width: auto;
    height: auto;
    padding:50px;
    border-radius: 15px;
    background-color: #24283b;
    border: 1px solid #3b4261;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}
